@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

*{
    font-size: 1.1rem;
    font-family: 'PT Sans Narrow', sans-serif;
}

main{
    width: 940px;
    margin: 0 auto;
}

.titulo{
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
}

h2{
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
}


.container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.filtrar-cliente, .btBuscar{
    width: 10%;
}


.form-adiciona input{
    padding: 0.2rem 1rem;
    margin: 1rem 0.5rem;
}

.bt-excluir{
    background-color: red;
    color: white;
}

.tabela{
    width: 100%;
}

td, th{
    padding: 1rem;
    border: 1px solid black;
    margin: 0;
    text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

.erro-cliente{
    color: rgba(219, 11, 11, 0.959);
}

.bt-excluir{
    cursor: pointer;
}

.sexo-masculino{
    color: white;
    background-color: rgb(45, 128, 128);
}

.sexo-feminino{
    color: white;
    background-color: rgb(29, 211, 150);
}

input:focus{
    border-color: red;
}

.invisivel{
    display: none;
}
